#barra-navegacion{
    width: 100%;
    background-color: var(--azul-marino);
    font-size: 15pt;
    display: inline-flex;
    justify-content: space-between;
}

.boton-navegacion > a{
    text-decoration: none;
    color: white;
    width: 17rem;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.boton-navegacion:hover{
    font-size: 18pt;
    background-color: rgba(255, 255, 255, 0.2);
}

.boton-navegacion >a>img{
    width: 2rem;
    margin: 3%;
}

#logo-navegacion{
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.4rem;
    color: var(--blanco);
}

#logo-navegacion> img{
    width: 3rem;
    margin-top: 1rem;
    margin-left: 0.3rem;
    align-items: center;
}

#logo-navegacion>h1{
    margin-right: 5px;
    margin-bottom: 0;
}