  /* ESTILOS DEL MODAL*/

  /* Estilos para el fondo opaco */
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo opaco */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el modal */
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos para el mensaje del modal */
  .modal p {
    margin-bottom: 20px;
  }
  
  /* Estilos para los botones */
  .modal button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--azul-marino); /* Color de los botones */
    color: white;
    margin-right: 10px;
  }
  
  /* Estilos para el botón de confirmar */
  .modal button:last-child {
    margin-right: 0;
  }