/*estilos de alerta*/
@import url('./modal.css');

*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --verde-claro: #4CAF50;
  --azul-marino: #072146;
  --gris: #9E9E9E;
  --naranja: #FF9800;
  --blanco: #FFFFFF;
  --rojo-brillante: #E42424;
}

body{
  background-color: var(--blanco);
  color: black;
  height: 100vh;
  width: 100vw;
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
